<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/listrecipes">Recipe List</a>
    <a href="/garlicbread">Garlic Bread</a>
    <a href="/pizza">Cheese Pizza</a>
    <a href="/guacamole">Guacamole</a>
    <a class="active" href="/about">About</a>
    <a href="/bootstrapdisplay">BOOTSTRAP, BABY!</a>

</div>

<style>
    body {
        background-image: url("kitchen01.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: Raleway;
    }
</style>

<body>
<div style="width: 800px; margin: 0 auto">
    <h1 class="heading1" style="text-align:center">About the Creator</h1>

    <p>Country of Origin: Poland &ensp; <img src="Flag_of_Poland_(with_coat_of_arms).svg.png" alt="Poland Flag" height="20"> </p>

    <h2 style="text-align: center">Who am I?</h2>
    <div class="well" style="text-align: center">
        My name is Maximillian Korzan.
        <br>I created this website to share my passion for delicious food and primitive websites.
        <br>Hope you've been inspired to carb up, and maybe do some coding too!
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>