<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garlic Bread</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/listrecipes">Recipe List</a>
    <a class="active" href="/garlicbread">Garlic Bread</a>
    <a href="/pizza">Cheese Pizza</a>
    <a href="/guacamole">Guacamole</a>
</div>

<style>
    body {
        background-image: url("garlicbread.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: Raleway;
    }
</style>


<body>
<h3 class="heading1" style="text-align:center">Garlic Bread</h3>

<h4>Country of Origin: United States of America</h4>

<h2>INGREDIENTS</h2>
<ul>
    <li>4 cloves garlic, minced</li>
    <li>1/2 c. (1 stick) butter, softened</li>
    <li>1 baguette or French bread, cut lengthwise</li>
    <li>1/2 tsp. kosher salt</li>
    <li>2 tbsp. freshly chopped parsley</li>
    <li>1/4 c. grated Parmesan</li>
</ul>

<h2>DIRECTIONS</h2>
<ul>
    <li>Preheat oven to 425° and line a large baking sheet with foil. Make garlic compound butter: In a small bowl,
        mix softened butter with garlic, salt, and parsley until well combined.</li>
    <li>Spread cut sides of bread liberally with garlic butter. Sprinkle with Parmesan.</li>
    <li>Bake until bread is toasty and golden at the edges, about 10 minutes.</li>
</ul>
<h2>Serves 1 Hungry Boi</h2>


</body>
</html>