<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guacamole</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/listrecipes">Recipe List</a>
    <a href="/garlicbread">Garlic Bread</a>
    <a href="/pizza">Cheese Pizza</a>
    <a class="active" href="/guacamole">Guacamole</a>
</div>

<style>
    body {
        background-image: url("recipe2.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: Raleway;
    }
</style>

<body>
<div style="width: 800px; margin: 0 auto">
<h1 class="heading1" style="text-align:center">Guacamole</h1>

    <p>Country of Origin: Mexico &ensp; <img src="1024px-Flag_of_Mexico.svg.png" alt="Mexico Flag" height="20"> </p>

<h2>INGREDIENTS</h2>
<ul>
    <li>1 small yellow onion</li>
    <li>1 serrano chili</li>
    <li>1/2 cup picked cilantro leaves</li>
    <li>2 teaspoons kosher salt</li>
    <li>4 ripe avocados</li>
    <li>2 tablespoons juice from 2 limes</li>

</ul>

<h2>DIRECTIONS</h2>
<ul>
    <li>
        Place onion, chili, half of cilantro leaves, and salt in a mortar and pestle. Pound into a fine paste.
        <br>Alternatively, combine onion, chili, half of cilantro, salt, and half of lime juice in a food processor
        or blender and process until smooth paste is formed, scraping down sides as necessary.</br></li>
    <li>Split each avocado in half, discard pits, and spoon out flesh into a medium bowl. Roughly mash with a stiff
        whisk. Add onion/chili puree, remaining cilantro leaves, and half of lime juice (if using mortar and pestle
        method). Fold to combine. Season to taste with more salt and lime juice. Serve immediately with warm tortilla
        chips.</li><br><br>
</ul>
<div class="well">Serves 8 as an appetizer</div>
</div>
</body>




</html>