<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/listrecipes">Recipe List</a>
    <a href="/garlicbread">Garlic Bread</a>
    <a href="/pizza">Cheese Pizza</a>
    <a href="/guacamole">Guacamole</a>
    <a href="/about">About</a>
    <a href="/bootstrapdisplay">BOOTSTRAP, BABY!</a>

</div>


<body>
    <h1 class="heading1" style="text-align:center; font-weight: bolder;"><br><br>The (un)Official Java Bootcamp Recipe Book</h1>

</body>



</html>





