<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheese Pizza</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/listrecipes">Recipe List</a>
    <a href="/garlicbread">Garlic Bread</a>
    <a class="active" href="/pizza">Cheese Pizza</a>
    <a href="/guacamole">Guacamole</a>
</div>

<style>
    body {
        background-image: url("pizza3.jfif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: Raleway;
    }
</style>

<body>
<div style="width: 800px; margin: 0 auto">
<h1 class="heading1" style="text-align:center">Cheese Pizza</h1>

<p>Country of Origin: Italy &ensp; <img src="800px-Flag_of_Italy.svg.png" alt="Italy Flag" height="20"></p>

<h2>INGREDIENTS</h2>
<ul>
    <li>3/4 cup pizza sauce</li>
    <li>8 ounces sliced mozzarella cheese</li>
    <li>1 and 1/2 cups shredded mozzarella cheese</li>
    <li>2–3 Tablespoons grated parmesan cheese</li>
    <li>Ground basil or Italian seasoning, to taste</li>
</ul>

<h2>DIRECTIONS</h2>
<ul>
    <li>Prepare the pizza dough, and preheat the oven to 475°F</li>
    <li>Top the dough with the pizza sauce, then the sliced mozzarella, then the shredded mozzarella, grated Parmesan,
        then sprinkle with basil.</li>
    <li>Bake for 12-15 minutes. For the last minute, move the oven rack to the top rack to really brown the edges.</li>
    <br><br>
</ul>
<div class="well">Serves 1 (or 2 if you are cooking for a date)</div>
</div>

</body>




</html>