<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Recipe Book</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">

</head>

<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/recipebook">My Recipe Book</a>
    <a href="/garlicbread">Garlic Bread</a>
</div>



<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1528712306091-ed0763094c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=80");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .heading1{
        color: white;
        font-size: xx-large;
        font-family: Raleway;
        padding: 10px;
    }

</style>

<body>
<h1 class="heading1" style="text-align:center">My Recipe Book</h1>

</body>




</html>